@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    width: 100%;
}

html {
    width: max-content;
}

body {
    font-family: 'Roboto', sans-serif;
}

.meme-container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#meme-form {
    background-color: darkcyan;
    text-align: center;
}

#meme-form h1 {
    margin: 5px;
    color: white;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    font-size: 30px;
    margin: 5px;
}

input {
    width: 600px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
}

.completedMeme {
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    font-size: 0;
    margin: 5px;
    transition: 0.5s;
}

.completedMeme:hover img,
.completedMeme:hover h2,
.completedMeme:hover h3 {
    color: red;
    opacity: 0.5;
}

.meme-container {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.topText {
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: Impact, sans-serif;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
.bottomText {
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: Impact, sans-serif;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.memeImg {
    max-width: 100%;
}